.table-container {
    width: 90%;
    margin: 2% auto;
}

.table {
    table-layout: auto !important; 
}

.page-link {
    background-color: rgb(71, 145, 114) !important;
    border-color: rgb(71, 145, 114) !important;
    color: white !important;
    margin: 2%;
}