.submit-button {
    width: 100%;
    margin: auto;
    background-color: #479172;
    border:1px solid #479172;
    font-weight: 500;
    color: #fff;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1.1rem;
}

.submit-button:hover {
    background-color: #58A283;
    cursor: pointer;
}