.login-input-container {
    width: 100%;
    text-align: left;
    input {
        width: calc(100% - 2*(.75rem));
        margin: auto;
        margin: 1.5% 0;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border: 1px solid #ced4da;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        margin-bottom: 1rem;
    }
}
