.default-button-color {
    background-color: #479172 !important;
    border-color: #479172 !important;
    color: white !important;
}


@media screen and (min-width: 992px) {
    .modal-dialog {
        max-width: 700px;
        margin: 1.75rem auto;
    }
  }