.signin-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgb(94, 94, 94);

    .signin-form {
        width: 40%;
        max-width: 600px;
        background: white;
        padding: 2% 4% 4% 4%;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        margin: auto;
        
    }

    .error-msg {
        color: #a33030;
        text-align: center;
        padding-top: 5%;
    }

    button {
        width: 100%;
        margin-top: 5%;
    }
}
