.login-form {
    width: 40%;
    max-width: 450px;
    min-width: 300px;
    background: white;
    padding: 2% 4% 4% 4%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin: auto;
    
    h2 {
        margin-bottom: 10%;
        text-align: center;
        font-family: Overpass,sans-serif;
        font-weight: 700;
        color: #5e5e5e;
    }

    .submit-button {
        margin: 5% 0;
    }

}

@media (max-width: 514px) {
    .login-form {
        width: 100%;
    }
}